.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    & strong {
        display: block;
        font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: var(--brand-color-primary);
    }

    & .footer__nav {
        display: flex;
        gap: 6rem;
    }

    & .footer__nav--inner ul {
        list-style-type: none;
        & li {
            padding-bottom: .4rem;
        }

        & .pad {
            padding-bottom: 1.5rem;
        }
    }
}